header{
    text-align: justify;
    letter-spacing: 1px;
    height: 2em;
    padding: 2em 10%;
    background: whitesmoke;
    color: black;
    font-family: sans-serif;
    text-decoration: none;
}
header div,
header nav{
    display: inline-block;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 18px;
    transition: .5s linear;
}

header::after{
    content: '';
    display: inline-block;
    width: 100%;
}

header div{
    height: 100%;
}
 
header div::before{
    content: '';
    display: inline-block;
    vertical-align: middle;  
    height: 100%;
}

ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

.topmenu > li {
  display: inline-block;
  position: relative;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.one .submenu {
  display: none;
  background: whitesmoke;
}
.one ul li:hover .submenu {
  display: block;
}

.logo{
    font-size: 24px;
    font-weight: 800;
}

body, #slider, .wrap, .slide-content{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
}

.wrap{position: relative}

.slide{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slide1{background-image: url('images/1.1.JPG');}
.slide2{background-image: url('images/1.2.JPG');}
.slide3{background-image: url('images/1.3.JPG');}
.slide4{background-image: url('images/1.4.JPG');}
.slide5{background-image: url('images/1.5.JPG');}
.slide6{background-image: url('images/1.6.JPG');}
.slide7{background-image: url('images/1.7.JPG');}
.slide8{background-image: url('images/1.8.JPG');}
.slide9{background-image: url('images/1.9.JPG');}
.slide10{background-image: url('images/1.10.JPG');}
.slide11{background-image: url('images/1.11.JPG');}
.slide12{background-image: url('images/1.12.JPG');}
.slide13{background-image: url('images/1.13.JPG');}
.slide14{background-image: url('images/1.14.JPG');}

.arrow{
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	width: 0;
	height: 0;
	border-style: solid;
}

#arrow-left{
	border-width: 30px 40px 30px 0;
	border-color: transparent #fff transparent transparent;
	left: 0;
	margin-left: 30px;
}

#arrow-right{
	border-width: 30px 0 30px 40px;
	border-color: transparent transparent transparent #fff;
	right: 0;
	margin-right: 30px;
}

